@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
    font-family: 'Godo';
    font-weight: 400;
}
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }
  

/* common 
.inner, .title h3, .tile p, img*/
.title {
    margin-bottom: 40px;
    text-align: center;
}
.title p {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Godo';
    font-weight: 400;
}
.title h3 {
    font-size: 35px;
    font-family: 'Godo';
    font-weight: 700;
    letter-spacing: -0.5px;
}

.inner {
    width: 1440px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header */
header {
    height: 100px;
}
header .inner {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .inner ul {
    display: flex;
}
header .inner ul li {
    margin: 0 20px;
}

/* .main_visual */


/* .cont01 던킨도너츠의 다양한 음료와 도넛들 */
.cont01 {
    padding: 200px 0;
    position: relative; 
}
.cont01 .list figure {
    height: 450px;
}
.cont01 .list .small_img {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cont01 .list .small_img .item {
    width: 19%;
    margin-top: 20px;
    padding: 20px;
    background-color: #eee;
}
.cont01 .list .small_img .item:hover  {
    background-color: #FC6719;
    color: #fff;
     
}
.cont01 .list .small_img .item img {
    height: 200px; 
}
.cont01 .list .small_img .item p {
    font-size: 20px;
    margin-top: 10px;
}

/* .cont02 */
.cont02 {
    padding: 200px 0;
    /* background-color: #eee; */
    background: url('../img/img_banner_1_2.jpg') center center / cover no-repeat;
    background-attachment: fixed;

} 
.cont02 .inner {
    display: flex;
    justify-content: space-between;

}
.cont02 .right {
    order: 1;
    width: 50%;
    padding: 70px;
    text-align: left;
    background-color: #fff;
} 
.cont02 .right .title {
    text-align: left;
    word-break: keep-all;
    line-height: 1.2;
}
.cont02 .right ul {
    display: flex;
}
.cont02 .right ul li { 
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.cont02 .right ul li:hover {
    background-color: #ffc19f;
    border: 1px solid #ffc19f;
}
.cont02 .right #btn {
    padding: 20px 40px;
    background-color: #FC6719;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    margin-top: 100px;
} 

.cont02 figure {
    width: 700px; 
    height: 600px; 
}  
.cont02 figure img {
    /* object-fit:initial; */
    background-color: #fff;
}
/* footer */
footer {
    padding: 70px 0;
}
footer .footer_img {
    width: 100px;
    margin-bottom: 20px;
}
footer ul li {
    line-height: 1.4;
    display: inline-block;
    margin-right: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
footer ul li:last-child {
    border-right: 0;
}
footer p {
    margin-top: 10px;
}